body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#myH1 {
font-size: 4rem;
font-family: Arial, Helvetica, sans-serif;
color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: aliceblue;
}
#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: gray;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#stopBtn {
    background-color: red;
}

#stopBtn:hover {
    background-color: rgb(233, 17, 17);
}

#startBtn {
    background-color: rgb(25, 0, 255);
}

#startBtn:hover {
    background-color: rgb(93, 17, 233);
}

#resetBtn {
    background-color: rgb(233, 17, 179);
}

#resetBtn:hover {
    background-color: rgb(245, 0, 255);
}